@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

body {
    background-image: url("/src/assets/bg-body.jpg");
    background-position: center;
    background-repeat: repeat;
    background-blend-mode: multiply;
  }
  
  /* Navbar */
  
  .navbar, .search_section, footer {
    background-color: #33503d;
  }
  
  #logo1 {
    color: #ffffff !important;
    font-size: x-large;
  }
  
  .logo_image {
    width: 30px;
    height: 30px;
    margin: 0px -2px;
  }
  .logo1 {
    color: white;
    font-size: x-large !important;
  }
  
  .logo2 {
    color: #f70d0d;
    font-size: x-large !important;
  }
  
  .nav-item {
    margin: 0px 30px;
  }
  
  .navbar-nav {
    width: 90%;
    justify-content: center;
  }
  
  .nav-link {
    color: #ffffff !important; 
  }

  .nav_link {
    color: #33503d !important;
    text-align: center;
    font-family: "Poppins", sans-serif !important
  }

  /* Home Page */
  /* Hero-section */
  #hero-section {
    background-image: url("/src/assets/hero-image-2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 70vh;
    overflow: hidden;
    image-rendering: crisp-edges;
  }

  /* Search Section */

 
  .search-field {
    width: 70vw;
    flex: 1;
    padding: 10px 35px 10px 15px;
    border: 2;
    border-radius: 100px;
    outline: none;
  }

  .search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
  }

  .fa-magnifying-glass {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
  .search_section {
    background-image: url('/src/assets/search_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 15vw;
    
  }


  /* Card Container */

  .card_first {
    width: 25vw;
  }
  
  .card_second {
    width: 20vw;
  }

  .card-container {
    display: flex;
    justify-content: center;
  }

  /* Pork Section */



.pork_img{
  width: 70vw;
  height: 30vw;
}

.other_recipe {
  margin: 0vw 10vw;
  color: #33503d !important;
  font-weight:bold;
  text-decoration: none;
  font-size: 2vw;
}


  /* Footer */

.logo_image {
    width: 30px;
    height: 30px;
    margin: 0px -5px;
  }
  

  
  #icon {
  
    width: 30px;
    height: 40px;
    text-decoration: none;
  }
  
  footer {
    background-color: #33503d;
    color: #fff;
    font-size: 15px;
  }
  
  #btn {
    border-radius: 50px;
    height: 50px;
  }
  
  #supp{
    text-decoration: none;
  }
  
  .support_item{
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
  }
  
  .icon{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }