
* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

body {
    background-image: url("/src/assets/bg-body.jpg");
    background-position: center;
    background-repeat: repeat;
    background-blend-mode: multiply;
  }
  
  /* Navbar */
  
  .navbar, footer, .filter_section {
    background-color: #33503d;
  }
  
  #logo1 {
    color: #ffffff !important;
    font-size: x-large;
  }
  
  .logo_image {
    width: 30px;
    height: 30px;
    margin: 0px -2px;
  }
  .logo1 {
    color: white;
    font-size: x-large !important;
  }
  
  .logo2 {
    color: #f70d0d;
    font-size: x-large !important;
  }
  
  .nav-item {
    margin: 0px 30px;
  }
  
  .navbar-nav {
    width: 90%;
    justify-content: center;
  }
  
  .nav-link {
    color: #ffffff !important; 
  }

  .nav_link {
    color: #33503d !important;
    text-align: center;
    font-family: "Poppins", sans-serif !important
  }

  /* Home Page */

  /* Hero-section */
  #hero-section {
    background-image: url("/src/assets/hero-image-2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 70vh;
    overflow: hidden;
    image-rendering: crisp-edges;
  }


/* Recipe Page */

.search-field {
  width: 70vw;
  flex: 1;
  padding: 10px 35px 10px 15px;
  border: 2;
  border-radius: 100px;
  outline: none;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
}

.fa-magnifying-glass {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.search_section {
  background-image: url('/src/assets/search_background.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.foodies {
  width: 300px;
}

.food_items {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  align-items: center;
  justify-content: center;
}


  /* Footer */

.logo_image {
    width: 30px;
    height: 30px;
    margin: 0px -5px;
  }
  

  
  #icon {
  
    width: 30px;
    height: 40px;
    text-decoration: none;
  }
  
  footer {
    color: #fff;
    font-size: 15px;
  }
  
  #btn {
    border-radius: 50px;
    height: 50px;
  }
  
  #supp{
    text-decoration: none;
  }
  
  .support_item{
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
  }
  
  .icon{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }