.navbar{
  background-color: #33503d;
}

#logo1 {
  color: #ffffff;
  font-size: x-large;
}

.logo_image {
  width: 30px;
  height: 30px;
  margin: 0px -7px;
}

#logo2 {
  color: #f70d0d;
  font-size: x-large;
}

.nav-item {
  margin: 0px 30px;
}

.navbar-nav {
  width: 90%;
  justify-content: center;
}

.nav-link {
  color: #ffffff !important; 
}
